model/show_and_tell_advanced_model_visual_attention_rl_adam_lr5e-5_decay308/model.ckpt-1080903.test2
model/show_and_tell_advanced_model_visual_attention_rl_adam_lr5e-5_decay308/model.ckpt-840942.test2
model/show_and_tell_advanced_model_new_vis_sem_attention/model.ckpt-561043.test2
model/stacknetwork_attention_aug_mc_rl_in_graph_1.0/model.ckpt-677443.test2
model/stacknetwork_attention_aug_rl_in_graph/model.ckpt-780516.test2
model/stacknetwork_attention_aug_in_graph/model.ckpt-559411.test2
model/localization_attention_model/model.ckpt-660888.test2
model/semantic_attention_model_join_idf_weighted/model.ckpt-740684.test2
